*{
	margin: 0;
	padding: 0;
}

body{
	background: #CEECF5;	
}

.form_crudClientes, .form_crudPlatillos,
.form_crudOrdenes, .form_inicio,
.form_crudFactura, .form_reporteCliente{
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	max-width: 900px;
	margin: 15px auto;
}

.principal{
	width: 450px;
	height: 333px;
	background: #2ECCFA;
	border: 2px solid #CCC;
	padding: 18px;
	margin: 10% auto;
	color:#0B0B61;
	text-align: center; 
	text-decoration: none;
	display: block;
	box-shadow: 3px 3px 7px 0px #0b0b6175;
}

.datosLibs{
	width: 450px;
	height: 380px;
	background: #2ECCFA;
	border: 2px solid #CCC;
	padding: 18px;
	margin: 5% auto;
	color:#0040FF;
	text-align: center; 
	text-decoration: none;
	display: block;
	box-shadow: 3px 3px 7px 0px #0b0b6175;
}

.datosLibs > input {
	float: center;
}

.principal > a {
	float: center;
	display: inline-block;
	margin: 3% auto;
	color:#0B0B61;
	font-size: x-large;
}

.generarReporte{
	margin: 3% auto;
	color: #0B0B60;
	font-size: large;
}

#txt_titulo, #txt_autor, #cmb_editorial,
#txt_precio{
	width: 188px;
	height: 30px;
	margin: 2px;
	float: center;
}

 #btn_nuevo, #btn_actualizar,
 #btn_eliminar, #btn_Regresar{
	width: 98px;
	height: 50px;
	margin: 8% auto;
	color:#FFFFFF;
	background-color: #0040FF;
	display: inline-block;
}

#radioCliente, #radioPlatillo,
#radioOrden, #radioFacturas{
	width: 23px;
	height: 18px;
	margin: 2% auto;
}

.generarReporte > input{
	float: center;
}

 #btnCliente, #btnPlatillos, #btnOrdenes,
 #btnFacturas, #btnVolver, #btn_buscar{
	width: 118px;
	height: 50px;
	margin: 2% auto;
	color:#FFFFFF;
	background-color: #0B0B61;
}